{% load static %} {% load tags %}
<!-- Main modal -->
<div
  id="review-modal"
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">Write Review</h3>
        <button
          type="button"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
          data-modal-hide="review-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:px-5 md:py-3">
        <form
          class="space-y-4"
          method="post"
          action="{% url 'review-salon' salon.salon_name salon.id|encode %}"
        >
          {% csrf_token %}
          <div class="">
            <label class="block font-semibold text-zinc-800 mb-1"
              >Overall Rating</label
            >
            <div class="star-rating">
              <span data-star="1" class="star">&#9733;</span>
              <span data-star="2" class="star">&#9733;</span>
              <span data-star="3" class="star">&#9733;</span>
              <span data-star="4" class="star">&#9733;</span>
              <span data-star="5" class="star">&#9733;</span>
            </div>
            <input
              type="text"
              id="rating-value"
              name="rating"
              value="1"
              class=""
            />
          </div>
          <div class="">
            <label class="block font-semibold text-zinc-800 mb-1"
              >Comment</label
            >
            <textarea
              name="comment"
              class="w-full border border-neutral-300 outline-none p-2 text-sm"
              rows="8"
            ></textarea>
          </div>
          <button
            type="submit"
            class="w-full text-white bg-black hover:bg-zinc-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/rating.js' %}"></script>
