{% load tags %}

<a
  href="{% url 'salon-detail' item.salon_name|format_url item.id|encode %}"
  class="border border-zinc-300 min-w-[48%] md:min-w-[30%] lg:min-w-[25%] overflow-hidden rounded-lg"
>
  {% if item.salon_images.first %}
  <img src="{{ item.salon_images.first.image.url }}" alt="" />
  {% else %}
  <div
    class="w-full h-[200px] bg-gray-100 animate-pulse duration-500 transition-all"
  ></div>
  {% endif %}
  <div class="p-3 space-y-1">
    <h1 class="font-semibold">{{item.salon_name}}</h1>
    <h5 class="text-xs">
      <b>
        {{item.salon_review.all|average_rating}}
        <i class="fa-solid fa-star"></i>
      </b>
      <span class="">({{item.salon_review.all|length}})</span>
    </h5>
    <p
      class="font-poppins capitalize border inline-block text-xs px-1.5 py-1 rounded-xl"
    >
      {{item.salon_type}}
    </p>
  </div>
</a>
