<form class="flex items-center max-w-sm mx-auto">
  <label for="simple-search" class="sr-only">Search</label>
  <div class="relative w-full">
    <div
      class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
    >
      <i class="fa-solid fa-location-dot text-gray-700"></i>
    </div>
    <input
      type="text"
      id="simple-search"
      class="bg-gray-50 text-zinc-900 text-sm rounded-lg block w-full ps-10 p-2.5 outline-none"
      placeholder="Search Location..."
      required
    />
  </div>
  <button
    type="submit"
    class="p-2.5 ms-2 text-sm font-medium text-white bg-black rounded-lg"
  >
    <i class="fa-solid fa-magnifying-glass text-white px-1"></i>
    <span class="sr-only">Search</span>
  </button>
</form>
