<div class="flex items-center ms-3">
  <div>
    <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 " aria-expanded="false" data-dropdown-toggle="dropdown-user">
      <span class="sr-only">Open user menu</span>
      <div
      class="flex justify-center items-center bg-violet-100 text-secondary font-bold rounded-full w-10 h-10"
    >
      <h1 class="capitalize">
        {{request.user.username|slice:":1"}}
      </h1>
    </div>
    </button>
  </div>
  <div class="z-50 hidden my-4 mr-2 text-base list-none bg-white divide-y divide-gray-100 rounded border shadow " id="dropdown-user">
    <div class="px-4 py-3 mr-5" role="none">
      <p class="capitalize text-sm text-gray-900" role="none">
        {{request.user.username}}
      </p>
      <p class="text-sm font-medium text-gray-900 truncate " role="none">
        {{request.user.email}}
      </p>
    </div>
    <ul class="py-1" role="none">
      <li>
        <form action="{% url 'logout' %}">
          <button class="block font-bold px-4 py-2 text-sm text-red-700 hover:bg-gray-100 w-full text-left" role="menuitem">Sign out</button>
        </form>
      </li>
    </ul>
  </div>
</div>
</div>